/* You can add global styles to this file, and also import other style files */

/*
// selecteur simple
h1 {
  background: $color-error;
}
// selecteur de class
.maclass {}
// selecteur d'attribut
[href] {}
[src="./img/img.jpg"] {}
[class="maclass"] {}
[id="monid"] {}
// pseudo selecteur
a:hover {}
p:nth-child(2) {}
// selecteur d'id
#monId {}
// selecteurs combinatoires
p#monId {}
p[class="test"] {}
#test {background: pink;}
h1.maclass {background: blue;}
h1 {background: red}
#test.maclass {background: green}
*/
